/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

h1, h2 {
    text-align: center;
}

/* Login */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    background-color: #F1E6FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-form input {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #9400d3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #7200b3;
}

.alert-message {
    color: red;
    text-align: center;
}

/* Calendário */
.calendar-container {
    text-align: center;
    margin-top: 50px;
}

.status-buttons {
    margin-top: 20px;
}

.status-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: #9400d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.status-btn:hover {
    background-color: #7200b3;
}

